doctype html
html
  head(lang='en')
    title freeCodeCamp pomodoro challenge
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css', type='text/css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Ubuntu')
    link(rel='stylesheet', href='./css/app.css', type='text/css')
  body
    div.content

      audio#redaudio(src="https://s3.amazonaws.com/freecodecamp/simonSound1.mp3" preload="auto")
      audio#greenaudio(src="https://s3.amazonaws.com/freecodecamp/simonSound2.mp3" preload="auto")
      audio#blueaudio(src="https://s3.amazonaws.com/freecodecamp/simonSound3.mp3" preload="auto")
      audio#yellowaudio(src="https://s3.amazonaws.com/freecodecamp/simonSound4.mp3" preload="auto")

      div.header simon
        h1
          a(href='simon.html') simon
        h1
          a(href='tictactoe.html') tictactoe
      div.column#app
        section#buttons

        section#controls


      div.footer
        i.fa.fa-copyright(aria-hidden="true")
          span.ubuntu 2017 by Rudolf Vogel - An der Fleschermühle 14 - 87509 Immenstadt - rugead@gmail.com



  script(type="text/javascript", src="js/dist/bundle.js")
